.button{
  .a-none (@basic_white);
  .a-active (@basic_color-add);
  display: inline-block;
  text-align: center;
  width: 280px;
  height: 40px;
  background-color: @basic_color;
  font-size: 16px;
  padding: 16px 44px 8px 44px;
}
.button-all{
  background-color: @basic_color;
}
